4g_test.json
[
  {
    "id": "subflow_stub_4g_connection_test",
    "type": "subflow",
    "name": "4G Connection Test",
    "info": "**SCAFFOLD \u2014 NOT YET IMPLEMENTED**\n\n4G Connection Test. This node is a placeholder that returns a clear 'not implemented' response so downstream flows can handle it as a known missing dependency.\n\n**Blocked on:**\n- Cellular signal or simulator at test line\n- SIM configuration (real SIM with plan, or simulator SIM)\n\nWhen the blockers are resolved, replace this scaffold with a real implementation.",
    "category": "eazy",
    "in": [
      {
        "x": 40,
        "y": 80,
        "wires": [
          {
            "id": "stub_4g_connection_test"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 360,
        "y": 80,
        "wires": [
          {
            "id": "stub_4g_connection_test",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "apn",
        "type": "str",
        "value": ""
      },
      {
        "name": "port",
        "type": "str",
        "value": "/dev/ttyUSB1"
      },
      {
        "name": "baud",
        "type": "str",
        "value": "115200"
      },
      {
        "name": "timeout_ms",
        "type": "str",
        "value": "60000"
      }
    ],
    "color": "#e8dcb5"
  },
  {
    "id": "stub_4g_connection_test",
    "type": "function",
    "z": "subflow_stub_4g_connection_test",
    "name": "Not implemented",
    "func": "msg.payload = {\n    success: false,\n    error: '4G Connection Test not yet implemented. Blocked on: Cellular signal or simulator at test line; SIM configuration (real SIM with plan, or simulator SIM)',\n    timestamp: new Date().toISOString(),\n    scaffold: true\n};\nreturn msg;",
    "outputs": 1,
    "x": 220,
    "y": 80,
    "wires": [
      []
    ]
  }
]