ads1115_adc_read.json
[
    {
        "id": "ads1115_real_subflow",
        "type": "subflow",
        "name": "ADS1115 ADC Read (Real)",
        "info": "Reads one channel from an ADS1115 16-bit ADC over I2C on a Raspberry Pi.\n\n**Prerequisites:**\n- Pi has I2C1 enabled (raspi-config → Interfaces → I2C)\n- ADS1115 wired: SDA to Pi GPIO 2, SCL to Pi GPIO 3, VDD to 3.3V or 5V, GND to GND\n- `node-red-contrib-ads1x15` community package installed via the palette manager\n\n**Configuration (set per instance):**\n- `channel_id` — which single-ended input to read (0, 1, 2, or 3)\n- `i2c_address` — ADS1115 I2C address, default 0x48 (ADDR pin to GND)\n- `channel_name` — human-readable name for this measurement (e.g. \"3V3 Rail\")\n- `divider_ratio` — voltage divider ratio on the input, if any (default 1.0 for direct)\n\n**Input:** any msg triggers a read.\n**Output:** `msg.payload` contains { name, channel, raw, voltage, timestamp }.",
        "category": "eazy-jig",
        "in": [
            { "x": 40, "y": 80, "wires": [{ "id": "prep_read" }] }
        ],
        "out": [
            { "x": 700, "y": 80, "wires": [{ "id": "format_output", "port": 0 }] }
        ],
        "env": [
            { "name": "channel_id", "type": "num", "value": "0" },
            { "name": "i2c_address", "type": "str", "value": "0x48" },
            { "name": "channel_name", "type": "str", "value": "ADC Channel 0" },
            { "name": "divider_ratio", "type": "num", "value": "1.0" }
        ],
        "color": "#c7e0f4"
    },
    {
        "id": "prep_read",
        "type": "function",
        "z": "ads1115_real_subflow",
        "name": "Prep read",
        "func": "// Configure the ADS1115 read parameters from subflow env vars.\nconst channelId = Number(env.get('channel_id'));\nconst address = env.get('i2c_address');\nconst channelName = env.get('channel_name');\nconst dividerRatio = Number(env.get('divider_ratio')) || 1.0;\n\nif (isNaN(channelId) || channelId < 0 || channelId > 3) {\n    node.error(`Invalid channel_id: ${env.get('channel_id')} (must be 0-3)`, msg);\n    return null;\n}\n\n// Stash config for the format node downstream.\nmsg._adc_config = { channelName, dividerRatio, channelId, address };\n\n// Configure the ads1x15 node's read parameters via msg.\nmsg.address = parseInt(address, 16) || 0x48;\nmsg.mux = channelId;  // single-ended: 0=A0-GND, 1=A1-GND, 2=A2-GND, 3=A3-GND\n\nreturn msg;",
        "outputs": 1,
        "x": 180,
        "y": 80,
        "wires": [["ads_read"]]
    },
    {
        "id": "ads_read",
        "type": "ads1x15-adc",
        "z": "ads1115_real_subflow",
        "name": "ADS1115 read",
        "device": "ads1115",
        "address": 72,
        "channel": "0",
        "gain": "1",
        "samplesPerSecond": "128",
        "comparatorMode": "0",
        "comparatorPolarity": "0",
        "comparatorLatch": "0",
        "comparatorQueue": "3",
        "x": 380,
        "y": 80,
        "wires": [["format_output"]]
    },
    {
        "id": "format_output",
        "type": "function",
        "z": "ads1115_real_subflow",
        "name": "Format output",
        "func": "// Reshape the raw ADS1115 reading into the standard node output.\nconst config = msg._adc_config || {};\nconst rawValue = msg.payload;  // ads1x15 puts the raw 16-bit signed value here\n\n// Convert raw to voltage. ADS1115 with gain=1 has ±4.096V range over ±32767 counts.\n// Then multiply by divider ratio to get the actual pre-divider voltage.\nconst voltsPerCount = 4.096 / 32767;\nconst voltageAtPin = rawValue * voltsPerCount;\nconst actualVoltage = voltageAtPin * config.dividerRatio;\n\nmsg.payload = {\n    name: config.channelName,\n    channel: config.channelId,\n    raw: rawValue,\n    voltage: Number(actualVoltage.toFixed(4)),\n    timestamp: new Date().toISOString()\n};\n\n// Clean up internal fields.\ndelete msg._adc_config;\ndelete msg.address;\ndelete msg.mux;\n\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 80,
        "wires": [[]]
    }
]
