cc1310_flash.json
[
  {
    "id": "subflow_stub_cc1310_flash",
    "type": "subflow",
    "name": "CC1310 Flash",
    "info": "**SCAFFOLD \u2014 NOT YET IMPLEMENTED**\n\nCC1310 Flash. This node is a placeholder that returns a clear 'not implemented' response so downstream flows can handle it as a known missing dependency.\n\n**Blocked on:**\n- Firmware team to confirm which tool: openocd via XDS110, or TI UniFlash CLI (dslite.sh)\n\nWhen the blockers are resolved, replace this scaffold with a real implementation.",
    "category": "eazy",
    "in": [
      {
        "x": 40,
        "y": 80,
        "wires": [
          {
            "id": "stub_cc1310_flash"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 360,
        "y": 80,
        "wires": [
          {
            "id": "stub_cc1310_flash",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "hex_path",
        "type": "str",
        "value": ""
      },
      {
        "name": "tool_path",
        "type": "str",
        "value": ""
      }
    ],
    "color": "#e8dcb5"
  },
  {
    "id": "stub_cc1310_flash",
    "type": "function",
    "z": "subflow_stub_cc1310_flash",
    "name": "Not implemented",
    "func": "msg.payload = {\n    success: false,\n    error: 'CC1310 Flash not yet implemented. Blocked on: Firmware team to confirm which tool: openocd via XDS110, or TI UniFlash CLI (dslite.sh)',\n    timestamp: new Date().toISOString(),\n    scaffold: true\n};\nreturn msg;",
    "outputs": 1,
    "x": 220,
    "y": 80,
    "wires": [
      []
    ]
  }
]