check_relay.json
[
    {
        "id": "check_relay_real_subflow",
        "type": "subflow",
        "name": "Check Relay (Real)",
        "info": "Checks one relay on real hardware by driving it ON, reading back, driving it OFF, and reading back.\n\n**Prerequisites:**\n- Pi has SPI0 enabled (raspi-config → Interfaces → SPI)\n- MCP23S17 output expander on SPI0 CE0, hardware address configured\n- MCP23S17 input expander(s) on the same SPI0 CE0, different hardware address\n- Python 3 with spidev installed: `pip install spidev`\n- Helper script `mcp23s17_relay_helper.py` present at the configured path\n\n**Configuration (set per instance):**\n- `relay_name` — human-readable name (e.g. \"Relay 1 (K3)\")\n- `output_chip` — MCP23S17 hardware address for the output expander (0-7)\n- `output_pin` — Pin number 0-15 on that chip\n- `input_chip` — MCP23S17 hardware address for the sensing input expander (0-7)\n- `input_pin` — Pin number 0-15 on that chip\n- `settle_time_ms` — Delay between drive and read (default 10ms for typical mechanical relay)\n- `helper_path` — Absolute path to mcp23s17_relay_helper.py\n\n**Output:** msg.payload = { relay_name, status, on_check, off_check, timestamp }",
        "category": "eazy",
        "in": [
            { "x": 40, "y": 240, "wires": [{ "id": "prep_real" }] }
        ],
        "out": [
            { "x": 1400, "y": 240, "wires": [{ "id": "aggregate_real", "port": 0 }] }
        ],
        "env": [
            { "name": "relay_name", "type": "str", "value": "Relay 1 (K3)" },
            { "name": "output_chip", "type": "num", "value": "4" },
            { "name": "output_pin", "type": "num", "value": "0" },
            { "name": "input_chip", "type": "num", "value": "0" },
            { "name": "input_pin", "type": "num", "value": "0" },
            { "name": "settle_time_ms", "type": "num", "value": "10" },
            { "name": "helper_path", "type": "str", "value": "/home/pi/eazy_jig/mcp23s17_relay_helper.py" }
        ],
        "color": "#c7e0f4"
    },
    {
        "id": "prep_real",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Prep check",
        "func": "// Validate config, stash for downstream nodes.\nconst relayName = env.get('relay_name');\nconst outputChip = Number(env.get('output_chip'));\nconst outputPin = Number(env.get('output_pin'));\nconst inputChip = Number(env.get('input_chip'));\nconst inputPin = Number(env.get('input_pin'));\nconst settleMs = Number(env.get('settle_time_ms')) || 10;\nconst helperPath = env.get('helper_path');\n\nif (!helperPath) {\n    node.error('helper_path env var must be set', msg);\n    return null;\n}\nif (isNaN(outputChip) || outputChip < 0 || outputChip > 7 ||\n    isNaN(inputChip) || inputChip < 0 || inputChip > 7) {\n    node.error('chip address must be 0-7', msg);\n    return null;\n}\nif (isNaN(outputPin) || outputPin < 0 || outputPin > 15 ||\n    isNaN(inputPin) || inputPin < 0 || inputPin > 15) {\n    node.error('pin must be 0-15', msg);\n    return null;\n}\n\nmsg._cfg = { relayName, outputChip, outputPin, inputChip, inputPin, settleMs, helperPath };\nmsg.payload = `python3 ${helperPath} write --chip ${outputChip} --pin ${outputPin} --value 1`;\nreturn msg;",
        "outputs": 1,
        "x": 200,
        "y": 240,
        "wires": [["exec_write_on"]]
    },
    {
        "id": "exec_write_on",
        "type": "exec",
        "z": "check_relay_real_subflow",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Drive ON",
        "x": 360,
        "y": 240,
        "wires": [["parse_write_on"], [], []]
    },
    {
        "id": "parse_write_on",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Parse ON write",
        "func": "// Parse JSON result from helper. Store commanded value.\ntry {\n    const result = JSON.parse(msg.payload);\n    if (!result.success) {\n        node.error(`Drive ON failed: ${result.error}`, msg);\n        return null;\n    }\n    msg._on_commanded = 1;\n} catch (e) {\n    node.error(`Could not parse ON write result: ${msg.payload}`, msg);\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "x": 520,
        "y": 240,
        "wires": [["settle_1_real"]]
    },
    {
        "id": "settle_1_real",
        "type": "delay",
        "z": "check_relay_real_subflow",
        "name": "Settle",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 240,
        "wires": [["build_read_on"]]
    },
    {
        "id": "build_read_on",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Build ON read cmd",
        "func": "const cfg = msg._cfg;\nmsg.payload = `python3 ${cfg.helperPath} read --chip ${cfg.inputChip} --pin ${cfg.inputPin}`;\nreturn msg;",
        "outputs": 1,
        "x": 820,
        "y": 240,
        "wires": [["exec_read_on"]]
    },
    {
        "id": "exec_read_on",
        "type": "exec",
        "z": "check_relay_real_subflow",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Read ON",
        "x": 980,
        "y": 240,
        "wires": [["record_on_real"], [], []]
    },
    {
        "id": "record_on_real",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Record ON",
        "func": "try {\n    const result = JSON.parse(msg.payload);\n    if (!result.success) {\n        node.error(`Read ON failed: ${result.error}`, msg);\n        return null;\n    }\n    msg._on_check = {\n        commanded: msg._on_commanded,\n        actual: result.actual,\n        ok: msg._on_commanded === result.actual\n    };\n    delete msg._on_commanded;\n} catch (e) {\n    node.error(`Could not parse ON read: ${msg.payload}`, msg);\n    return null;\n}\n// Now build the OFF write command.\nconst cfg = msg._cfg;\nmsg.payload = `python3 ${cfg.helperPath} write --chip ${cfg.outputChip} --pin ${cfg.outputPin} --value 0`;\nreturn msg;",
        "outputs": 1,
        "x": 1140,
        "y": 240,
        "wires": [["exec_write_off"]]
    },
    {
        "id": "exec_write_off",
        "type": "exec",
        "z": "check_relay_real_subflow",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Drive OFF",
        "x": 360,
        "y": 340,
        "wires": [["parse_write_off"], [], []]
    },
    {
        "id": "parse_write_off",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Parse OFF write",
        "func": "try {\n    const result = JSON.parse(msg.payload);\n    if (!result.success) {\n        node.error(`Drive OFF failed: ${result.error}`, msg);\n        return null;\n    }\n    msg._off_commanded = 0;\n} catch (e) {\n    node.error(`Could not parse OFF write: ${msg.payload}`, msg);\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "x": 520,
        "y": 340,
        "wires": [["settle_2_real"]]
    },
    {
        "id": "settle_2_real",
        "type": "delay",
        "z": "check_relay_real_subflow",
        "name": "Settle",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 340,
        "wires": [["build_read_off"]]
    },
    {
        "id": "build_read_off",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Build OFF read cmd",
        "func": "const cfg = msg._cfg;\nmsg.payload = `python3 ${cfg.helperPath} read --chip ${cfg.inputChip} --pin ${cfg.inputPin}`;\nreturn msg;",
        "outputs": 1,
        "x": 820,
        "y": 340,
        "wires": [["exec_read_off"]]
    },
    {
        "id": "exec_read_off",
        "type": "exec",
        "z": "check_relay_real_subflow",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Read OFF",
        "x": 980,
        "y": 340,
        "wires": [["aggregate_real"], [], []]
    },
    {
        "id": "aggregate_real",
        "type": "function",
        "z": "check_relay_real_subflow",
        "name": "Aggregate result",
        "func": "// Parse the final OFF read and combine everything.\nconst cfg = msg._cfg;\nlet offCheck;\ntry {\n    const result = JSON.parse(msg.payload);\n    if (!result.success) {\n        node.error(`Read OFF failed: ${result.error}`, msg);\n        return null;\n    }\n    offCheck = {\n        commanded: msg._off_commanded,\n        actual: result.actual,\n        ok: msg._off_commanded === result.actual\n    };\n} catch (e) {\n    node.error(`Could not parse OFF read: ${msg.payload}`, msg);\n    return null;\n}\n\nconst onCheck = msg._on_check;\nconst status = (onCheck.ok && offCheck.ok) ? 'PASS' : 'FAIL';\n\nmsg.payload = {\n    relay_name: cfg.relayName,\n    status: status,\n    on_check: onCheck,\n    off_check: offCheck,\n    timestamp: new Date().toISOString()\n};\n\ndelete msg._cfg;\ndelete msg._on_check;\ndelete msg._off_commanded;\n\nreturn msg;",
        "outputs": 1,
        "x": 1200,
        "y": 340,
        "wires": [[]]
    }
]
