digital_input_read.json
[
  {
    "id": "digital_input_read_subflow",
    "type": "subflow",
    "name": "Digital Input Read",
    "info": "Reads one digital input pin from an MCP23S17 SPI input expander.\n\n**Prerequisites:**\n- Pi has SPI0 enabled\n- MCP23S17 wired on SPI0 CE0, hardware address 0-3 (input chips) per block diagram\n- mcp23s17_helper.py present at configured path\n\n**Configuration (per instance):**\n- `input_name` — Human-readable name (e.g. 'Zone 1', 'DUT Ready')\n- `chip` — MCP23S17 hardware address 0-3 (per block diagram, inputs are 0-3)\n- `pin` — Pin number 0-15 on that chip\n- `helper_path` — Path to mcp23s17_helper.py\n\n**Input:** any msg triggers a read.\n**Output:** msg.payload = { input_name, chip, pin, actual, timestamp }",
    "category": "eazy",
    "in": [{ "x": 40, "y": 80, "wires": [{ "id": "din_build" }] }],
    "out": [{ "x": 640, "y": 80, "wires": [{ "id": "din_parse", "port": 0 }] }],
    "env": [
      { "name": "input_name", "type": "str", "value": "Digital Input 0" },
      { "name": "chip", "type": "num", "value": "0" },
      { "name": "pin", "type": "num", "value": "0" },
      { "name": "helper_path", "type": "str", "value": "/home/pi/eazy_jig/mcp23s17_helper.py" }
    ],
    "color": "#c7e0f4"
  },
  {
    "id": "din_build",
    "type": "function",
    "z": "digital_input_read_subflow",
    "name": "Build cmd",
    "func": "const name = env.get('input_name');\nconst chip = Number(env.get('chip'));\nconst pin = Number(env.get('pin'));\nconst helperPath = env.get('helper_path');\n\nif (!helperPath) { node.error('helper_path env var must be set', msg); return null; }\nif (isNaN(chip) || chip < 0 || chip > 7) { node.error('chip must be 0-7', msg); return null; }\nif (isNaN(pin) || pin < 0 || pin > 15) { node.error('pin must be 0-15', msg); return null; }\n\nmsg._cfg = { name, chip, pin };\nmsg.payload = `python3 ${helperPath} read --chip ${chip} --pin ${pin}`;\nreturn msg;",
    "outputs": 1,
    "x": 200,
    "y": 80,
    "wires": [["din_exec"]]
  },
  {
    "id": "din_exec",
    "type": "exec",
    "z": "digital_input_read_subflow",
    "command": "",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "2",
    "oldrc": false,
    "name": "MCP23S17 read",
    "x": 400,
    "y": 80,
    "wires": [["din_parse"], ["din_parse"], ["din_parse"]]
  },
  {
    "id": "din_parse",
    "type": "function",
    "z": "digital_input_read_subflow",
    "name": "Parse result",
    "func": "const rc = msg.rc && typeof msg.rc.code === 'number' ? msg.rc.code : null;\nconst text = (typeof msg.payload === 'string') ? msg.payload : '';\n\nif (rc === null) {\n    msg._buf = (msg._buf || '') + text;\n    return null;\n}\n\nconst output = (msg._buf || '').trim();\ntry {\n    const result = JSON.parse(output);\n    msg.payload = {\n        input_name: msg._cfg.name,\n        chip: msg._cfg.chip,\n        pin: msg._cfg.pin,\n        actual: result.actual,\n        success: result.success,\n        timestamp: new Date().toISOString()\n    };\n} catch (e) {\n    msg.payload = {\n        input_name: msg._cfg.name,\n        success: false,\n        error: `could not parse: ${output}`,\n        timestamp: new Date().toISOString()\n    };\n}\n\ndelete msg._cfg;\ndelete msg._buf;\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 80,
    "wires": [[]]
  }
]
