esp32_flash.json
[
  {
    "id": "subflow_stub_esp32_flash",
    "type": "subflow",
    "name": "ESP32 Flash",
    "info": "**SCAFFOLD \u2014 NOT YET IMPLEMENTED**\n\nESP32 Flash. This node is a placeholder that returns a clear 'not implemented' response so downstream flows can handle it as a known missing dependency.\n\n**Blocked on:**\n- Firmware team to provide the four-file flash address layout (bootloader.bin, partitions.bin, app.bin, filesystem.bin) and their addresses\n\nWhen the blockers are resolved, replace this scaffold with a real implementation.",
    "category": "eazy",
    "in": [
      {
        "x": 40,
        "y": 80,
        "wires": [
          {
            "id": "stub_esp32_flash"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 360,
        "y": 80,
        "wires": [
          {
            "id": "stub_esp32_flash",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "port",
        "type": "str",
        "value": "/dev/ttyUSB0"
      },
      {
        "name": "app_bin",
        "type": "str",
        "value": ""
      },
      {
        "name": "bootloader_bin",
        "type": "str",
        "value": ""
      },
      {
        "name": "partitions_bin",
        "type": "str",
        "value": ""
      },
      {
        "name": "filesystem_bin",
        "type": "str",
        "value": ""
      }
    ],
    "color": "#e8dcb5"
  },
  {
    "id": "stub_esp32_flash",
    "type": "function",
    "z": "subflow_stub_esp32_flash",
    "name": "Not implemented",
    "func": "msg.payload = {\n    success: false,\n    error: 'ESP32 Flash not yet implemented. Blocked on: Firmware team to provide the four-file flash address layout (bootloader.bin, partitions.bin, app.bin, filesystem.bin) and their addresses',\n    timestamp: new Date().toISOString(),\n    scaffold: true\n};\nreturn msg;",
    "outputs": 1,
    "x": 220,
    "y": 80,
    "wires": [
      []
    ]
  }
]